@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /* padding-top: 70px;  */
}
/* =================================paralex */
.parallax {
  /* The image used */
  background-image: url(assets/images/homebg.png);

  /* Set a specific height */
  /* min-height: 665px;  */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:auto;
}


/* ============================= */

header {
 /* background-color: #25b79f; */
 background-image: url(assets/images/sld2.jpeg);
 background-size: cover;
  height: 100vh;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

#navbar {
  overflow: hidden;
  /* background: rgba(0 ,0 ,0 ,.3 ); */
  padding: 20px 40px;
  transition: 0.7s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  /* box-shadow: 0 5px 3px -3px black; shawow to navbar */
}

#navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-size: 30px;
  font-weight: bold;
  /* transition: 5s; */
}

#navbar a:hover {
  background-color: rgba(164, 163, 163, 0.4);
  color: black;
}

/* #navbar a.active {
  background-color: dodgerblue;
  color: white;
} */

#navbar-right {    /* the portion containing buttons*/
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display:inline-flex;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}



/* ////........Home Content........//// */

.home-content .name {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #b5deee;
  width: 100%;
  text-align: center;
}

.home-content .name h1 {
  font-size: 2.2rem;
  text-align: center;
}

.home-content .name p {
  color: #f0f0e6;
  font-size: 1.5rem;
}

.angle-down-icon {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  /* border: 3px solid #07374a; */
  /* border-radius: 50%; */
}

.angle-down-icon a {
  text-decoration: none;
  color: #07374a;
  padding: 1rem;
}

/*.....................................................About Me......................................................*/



#about .about-heading {
  /* color: #25b79f; */
  color: #07374a;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding: 80px 10px 10px;
  margin-bottom: 10px;
}
.about-content{
  text-align: center;
}

.about-content img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
  border-style: outset;
  fill: drop-shadow(10px 20px black);
  /* //style="fill: drop-shadow(10px 20px black); */
}

.about-content p {
  font-size: 1.2rem;
  color: #07374a;
  padding: 0 2.3rem;
  text-align: center;
}

/* .about-me .about-content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
} */

.about-content .left-content {
  
  text-align: center;
  background-color: whitesmoke;
  margin: 10px 50px 50px;
  padding: 70px 0px 50px 0px;
}

 
/*.....................................................ABOUT ME ENDS...................................................*/





/* ///.....Skill Bar....../// */

/*//////*/

#skills {
  padding: 50px;
  /* background: whitesmoke; */
}
.basecolor{
  background-color: white;
}

/* Center-align the skills heading */
.proj-heading {
  text-align: center;
  margin-bottom: 30px;
}

/* Style the skills heading */
.proj-heading h1 {
  color: #07374a;
  font-size: 2.3rem;
  font-weight: 700;
}

/* Style skill bars container */
.bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius:7px;
  background-color: whitesmoke;
  padding: 30px 50px 50px;
}
.bar p{
  margin:10px 5px 1px;
}

/* Style individual skill bars */
.contai {
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.skilled {
  text-align: right;
  padding: 5px 0;
  color: #fff;
  border-radius: 6px;
}

/* Adjust skill bar widths */
.html {width: 90%;}
.css {width: 80%;}
.js {width: 75%;}
.java {width: 70%;}

#themecolor{
  background-color:#3587a4;
}




/* ////.....Portfolio....../////====================================================== */


/*================================PROJECT END=====================================================*/


#projects {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background: whitesmoke; */
}

.project {
  width: calc(33.33% - 30px); /* Adjust the width as needed */
  /* height: 400px; */
  margin-bottom: 70px;
  /* height:fit-content; */
  /* margin-bottom: 20px; */
  /* overflow: auto; */
  /* align-items: center; */
  background-color:whitesmoke;
  box-shadow: 0 0 25px rgb(15, 2, 98, .2); 
  /* 0 4px 6px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.project img {
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
  border-radius: 15px;
  padding: 5px 25px 10px;
}

.project-details {
  padding: 20px;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 200px;
  overflow: auto;
}

.project h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
  margin:12px 0px 0px;
  font-family:Arial, Helvetica, sans-serif;
}

.project p {
  margin-top: 10px;
}

.project a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #07374a;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.poject-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 26px;
  margin: 0px 1px 12px;
  background-color: whitesmoke;
}

.left-button, .right-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.left-button:hover, .right-button:hover {
  background-color: #0056b3;
}




/* ===============================contact=================================================================*/


/* ======================FORM=============================== */

/* Contact section styles */
/* Contact section styles */
/* .contact-section {
  background-color: #f8f8f8;
  padding: 80px 0;
  text-align: center;
} */

.section-title {
  font-size: 32px;
  color: #333;
  margin-bottom: 40px;
  text-align: center;
}

.contact-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-card {
  flex: 1;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 25px rgb(15, 2, 98, .2);
  text-align: center;
}

.contact-card h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #8eaebb;


  
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
  font-size: 18px;
  color: #555;
}

a {
  text-decoration: none;
  color: #07374a;
}

a:hover {
  text-decoration: underline;
}

.download-cv .btn {
  /* background-color: #af2898; */
  color: #fff;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
}
.btn-primary {
  color: #fff;
  background-color: #07374a;
  border-color: #07374a;
  margin: 30px;
  padding: 10px 30px;
}
.download-cv .btn:hover {
  background-color: #90d6f1;
}


/* Add any additional styles or overrides as needed */



/*>>>>>>>>>>------------------------------------------FOOTER--------------------------------------<<<<<<<<<<<<<*/



#footer h1{
  /* background-color: whitesmoke; */
  text-align: center;
    color: #07374a;
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 0;
    padding: 50px;
    /* margin: 3rem 0; */
    /* padding-top: 100px; */
}